{% load static %}
<script src="{% static 'app/index.module.js' %}"></script>
<script src="{% static 'app/index.config.js' %}"></script>
<script src="{% static 'app/index.run.js' %}"></script>
<script src="{% static 'app/index.route.js' %}"></script>

<script src="{% static 'app/directives/csvUpload.js' %}"></script>
<script src="{% static 'app/directives/Loader.js' %}"></script>

<script src="{% static 'app/services/Loader.js' %}"></script>
<script src="{% static 'app/services/CurrentUser.js' %}"></script>
<script src="{% static 'app/services/CourseToMajor.js' %}"></script>
<script src="{% static 'app/services/Semester.js' %}"></script>
<script src="{% static 'app/services/Session.js' %}"></script>
<script src="{% static 'app/services/Level.js' %}"></script>
<script src="{% static 'app/services/ModeOfEntry.js' %}"></script>
<script src="{% static 'app/services/College.js' %}"></script>
<script src="{% static 'app/services/Dept.js' %}"></script>
<script src="{% static 'app/services/Major.js' %}"></script>
<script src="{% static 'app/services/Student.js' %}"></script>
<script src="{% static 'app/services/CollegeOfficer.js' %}"></script>
<script src="{% static 'app/services/StudentAffairs.js' %}"></script>
<script src="{% static 'app/services/Lecturer.js' %}"></script>
<script src="{% static 'app/services/Courses.js' %}"></script>

<script src="{% static 'app/student/StudentUploadCtrl.js' %}"></script>
<script src="{% static 'app/courseToMajor/CourseToMajorCtrl.js' %}"></script>
<script src="{% static 'app/courseToMajor/CourseToMajorAddCtrl.js' %}"></script>